site_name: ARYSSA
theme:
  name: material
  # Palette toggle for automatic mode
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
# markodown f.e note alert bug ...
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
nav:
  - index.md
  - Backend:
      - Getting Started: sections/back/intruduction.md
  - How to edit documentation: sections/additional_info/documentation.md
